/*css/header.css*/

header {
    /*  position: fixed;*/ /*here fixed header, but navigator went behind on top*/
      align-items: center;
      background-color: #eba308; /* Adjust to match Bibbulmun Track website */
      color: white;
      padding: 5px;
      text-align: center;
     z-index: 1000; /* Ensures the header is on top of other elements */  
      display: flex;
  }
  
  header img {
      max-width: 300%;
      height: auto;
  }
  
  .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px; /* Adjust padding as needed */
     /* background-color: #orange;  Example background color */
  }
  
  .header-content img {
      margin-right: 10px;
  }
  
  .user-header {
    margin-left: auto;
    padding-right: 10px;
}

  .logo img {
      max-height: 200px; /* Example max height for images */
  }

  .qrcode {
    /* Customize QR code styles */
    padding: 20px;
}
  .qrcode img {
      max-height: 230px; /* Example max height for images */
      padding-right: 50px;
  }
  
  .text {
      flex-grow: 1; /* Grow to fill available space */
      margin: 0 10px; /* Example margin */
  }
  
  .login {
      /* Customize login/registration box styles */
      padding: 10px;
  }
  
footer {
    background-color: #eba308;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}