/*css/navigator.css*/

.banner img {
    width: 100%;
    height: auto;
    align: left;
}

.navbar {
    background-color: maroon;
    height: 30px; /* Adjust this value as needed */
    line-height: 30px; /* Align text vertically */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    width: 100%;
    background-color: maroon;
    justify-content: center; /* Center the navigation items */
}

nav ul li {
    display: inline;
    margin-right: 15px;
    position: relative; /*required for the dropdown*/
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;     /*required for the dropdown*/
    display: block;         /*required for the dropdown*/
}

nav ul li a:hover {
    background-color: brown;
}

/*dropdown :required*/

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eeba10;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul li .dropdown-content a {
    color: brown;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #eba306;
    
}

nav ul li:hover .dropdown-content {
    display: block;
}



