/*css/headerResponsiveAdjustment.css*/


/* Responsive adjustments */
@media (max-width: 620px) {
  .header-content {
      flex-direction: column; /* Stack items vertically on smaller screens */
      text-align: center;
  }

  .logo, .qrcode, .login {
      margin-bottom: 10px; /* Add margin between stacked items */
  }

  .login {
      margin-top: 10px; /* Add margin above login form */
  }

  .text {
      margin-left: 0; /* Remove left margin for text on smaller screens */
  }

  #loginContainer {
      margin-left: 0; /* Remove left margin for login container on smaller screens */
  }
}


  
footer {
    background-color: #eba308;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}